main .block.cards {
    margin: 0 auto 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.cards > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-flow: column nowrap;
    padding: 0;
    padding-inline-start: 0;
}

.cards > ul > li {
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgb(60 70 80 / 20%);
    border: none;
    transition: all 0.15s ease-in-out;
    height: 80px;
    width: 100%;
    min-width: 56px;
    padding: 12px 1rem;
    margin: 0 0 1rem;
    align-items: center;
    text-align: left;
}

.cards > ul > li:hover {
    box-shadow: 0 4px 16px 0 rgb(60 70 80 / 40%);
}

.cards > ul > li > a.button {
    margin: 0;
    height: 100%;
    color: var(--card-text-color);
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    border: 0;
    background: none;
    white-space: normal;
    font-size: var(--body-font-size-s);
    border-radius: 0;
    line-height: 21px;
    letter-spacing: 0;
    width: 100%;
    flex-direction: row;
    display: flex;
    padding: 0;
}

.cards > ul > li > a {
    text-decoration: none;
}

.cards > ul > li > a:hover {
    text-decoration: none;
    background-color: initial;
}

.cards .cards-card-body {
    width: calc(100% - 1rem - 56px);
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}

.cards .cards-card-image img {
    width: 100%;
    height: 100%;
}

.cards .cards-card-body u {
    text-decoration: none;
}

.cards .cards-card-image {
    margin: 0;
    padding: 0;
    width: 56px;
    min-width: 56px;
    height: 56px;
}

.cards .cards-card-body div {
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 62rem)  {
    main .block.cards {
        padding-left: 0;
        padding-right: 0;
    }

    div.cards > ul {
        flex-flow: row nowrap;
    }

    .cards > ul > li {
        width: 162px;
        height: 222px;
        padding: 0;
        text-align: center;
        margin: 0 7px
    }

    .cards > ul > li > a.button {
        padding: 16px 6px 0;
        display: block;
    }

    .cards .cards-card-body {
        width: initial;
        margin: 0;
        padding-top: 10px;
    }

    .cards .cards-card-image {
        margin: auto;
        width: 120px;
        height: 120px;
    }

    .cards .cards-card-image img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 77rem) {
    .cards > ul > li {
        width: 214px;
        height: 262px;
        margin: 0 16px;
    }

    .cards > ul > li > a.button {
        padding: 20px 0 0;
    }

    .cards .cards-card-image {
        width: 140px;
        height: 140px;
    }

    .cards .cards-card-body {
        padding-top: 20px;
        font-size: 1rem;
    }
}


