.section.cards-container {
  margin: 4rem 0 5rem;
  padding: 0 1rem;
}

.section.cards-container h1,
.section.cards-container h2,
.section.cards-container h3,
.section.cards-container h4,
.section.cards-container h5,
.section.cards-container h6 {
  text-align: center;
}

main .block.cards {
  margin: 0 auto 3.75rem;
}

.cards > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-flow: column nowrap;
  padding: 0;
  padding-inline-start: 0;
}

.cards > ul > li {
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(60 70 80 / 20%);
  border: none;
  transition: all 0.15s ease-in-out;
  height: 5rem;
  width: 100%;
  min-width: 3.5rem;
  padding: 12px 1rem;
  margin: 0 0 1rem;
  align-items: center;
  text-align: left;
}

.cards > ul > li:hover {
  box-shadow: 0 4px 1rem 0 rgb(60 70 80 / 40%);
}

.cards > ul > li > a.button {
  margin: 0;
  height: 100%;
  color: var(--card-text-color);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border: 0;
  background: none;
  white-space: normal;
  font-size: var(--body-font-size-s);
  border-radius: 0;
  line-height: 21px;
  letter-spacing: 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 0;
}

.cards > ul > li > a {
  text-decoration: none;
}

.cards > ul > li > a:hover {
  text-decoration: none;
  background-color: initial;
}

.cards .cards-card-body {
  width: calc(100% - 1rem - 3.5rem);
  margin: 0 auto;
  padding: 0 0 0 16px;
}

.cards .cards-card-image img {
  width: 100%;
  height: 100%;
}

.cards .cards-card-image span.icon,
.cards .cards-card-image span.icon svg {
  width: 100%;
  height: 100%;
}

.cards .cards-card-body u {
  text-decoration: none;
}

.cards .cards-card-image {
  margin: 0;
  padding: 0;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
}

.cards .cards-card-body div {
  height: 100%;
  margin: 0;
}

/* Styles for features-items cards */

main .cards.features-items h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main .cards.features-items ul > li {
  align-items: flex-start;
}

/* Styles for machine parts cards */

main .cards.machine-parts .cards-card-image {
  width: 100%;
  height: 100%;
}

main .cards.machine-parts .cards-card-body {
  width: auto;
  padding: 1.5rem 1rem;
}

main .cards.machine-parts .cards-card-body h1,
main .cards.machine-parts .cards-card-body h2,
main .cards.machine-parts .cards-card-body h3,
main .cards.machine-parts .cards-card-body h4,
main .cards.machine-parts .cards-card-body h5,
main .cards.machine-parts .cards-card-body h6,
main .cards.machine-parts .cards-card-body p {
  text-align: left;
  text-transform: none;
}

main .cards.machine-parts .cards-card-body h6 {
  font-size: var(--heading-font-size-xs);
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

main .cards.machine-parts .cards-card-body img {
  height: 2rem;
}

main .cards.machine-parts .cards-card-body p {
  font-size: var(--body-font-size-m);
  margin-bottom: 1rem;
  color: var(--light-black);
}

main .cards.machine-parts .cards-card-body p:last-child {
  margin-bottom: 0;
}

main .cards.machine-parts .cards-card-body a {
  line-height: 1;
  display: inline-block;
  width: 100%;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  text-decoration: none;
}

main .cards.machine-parts .cards-card-body a > strong {
  color: var(--light-black);
  margin-right: 1rem;
}

main .cards.machine-parts ul > li {
  padding: 0;
  box-shadow: none;
  background: var(--transparent-blue-light-color);
}

.section.cards-container.nolink {
  margin-bottom: 5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
main .section.nolink h2 {
  text-align: left;
  margin: 0 auto 1.5rem;
}

main .nolink .block.cards {
  margin: 0 auto 2rem;
}

main .nolink .cards > ul > li {
  display: flex;
  flex-direction: row;
  box-shadow: none;
  width: 100%;
  margin: 0 0 1.5rem;
  padding: 0;
  text-align: left;
}

main .nolink .cards > ul > li:last-child {
  margin: 0;
}

main .nolink .cards > ul > li:hover {
  box-shadow: none;
}

main .nolink .cards .cards-card-image {
  margin: 0;
  padding: 0;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
}

main .nolink .cards > ul > li > .cards-card-body > h6 {
  text-align: left;
  text-transform: unset;
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-bolder);
  color: var(--text-color);
}

@media screen and (min-width: 62rem) {
  .section.cards-container {
    margin: 5rem 0;
  }

  .section.cards-container h2 {
    max-width: 56.25rem;
  }

  .section.cards-container.nolink {
    margin-bottom: 7.5rem;
  }

  main .block.cards {
    padding-left: 0;
    padding-right: 0;
  }

  div.cards > ul {
    flex-flow: row nowrap;
  }

  .cards > ul > li {
    width: 162px;
    height: 222px;
    padding: 0;
    text-align: center;
    margin: 0 7px;
  }

  .cards > ul > li > a.button {
    padding: 1rem 6px 0;
    display: block;
  }

  .cards .cards-card-body {
    width: initial;
    margin: 0;
    padding-top: 10px;
  }

  .cards .cards-card-image {
    margin: auto;
    width: 7.5rem;
    height: 7.5rem;
  }

  .cards .cards-card-image img {
    width: 100%;
    height: 100%;
  }

  /* Style for features-items cards */
  main .cards.features-items ul > li {
    width: 16.5rem;
    align-items: center;
  }

  main .cards.features-items p {
    margin: 0 auto;
    font-size: 14px;
    color: var(--transparent-grey-color-2);
  }

  main .nolink .block.cards {
    margin: 0;
  }

  main .section.nolink h2 {
    text-align: center;
    margin: 0 auto 4rem;
  }

  main .nolink .cards > ul > li {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    height: 100%;
    margin: 0 1.25rem;
    padding: 0;
  }

  main .nolink .cards:not(.features-items) > ul > li {
    width: calc(100% / 3 - 50px);
  }

  main .nolink .cards > ul > li:first-of-type {
    margin-left: 0;
  }

  main .nolink .cards > ul > li:last-child {
    margin-left: 1.25rem;
  }

  main .nolink .cards .cards-card-image {
    margin: auto;
    width: 7.5rem;
    height: 7.5rem;
  }

  main .nolink .cards .cards-card-body {
    padding-left: 0;
    padding-right: 0;
  }

  main .nolink .cards > ul > li > .cards-card-body > h6 {
    text-align: center;
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-bold);
  }

  /* Styles for machine parts cards */

  main .block.cards.machine-parts ul {
    gap: 2rem;
  }

  main .block.cards.machine-parts > ul > li {
    display: flex;
    width: auto;
    height: 12.1875rem;
    flex: 1;
  }

  main .block.cards.machine-parts > ul > li > div {
    flex: 1;
  }

  main .block.cards.machine-parts > ul > li .cards-card-image {
    height: 100%;
  }

  main .block.cards.machine-parts > ul > li .cards-card-body p,
  main .block.cards.machine-parts > ul > li .cards-card-body a {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    align-self: flex-start;
  }
}

@media screen and (min-width: 77rem) {
  .cards > ul > li {
    width: 214px;
    height: 262px;
    margin: 0 1rem;
  }

  .cards > ul > li:first-of-type {
    margin-left: 0;
  }

  .cards > ul > li:last-of-type {
    margin-right: 0;
  }

  .cards > ul > li > a.button {
    padding: 20px 0 0;
  }

  .cards .cards-card-image {
    width: 8.75rem;
    height: 8.75rem;
  }

  .cards .cards-card-body {
    padding-top: 20px;
    font-size: 1rem;
  }

  .nolink .cards > ul > li {
    width: 16.5rem;
  }
}
