.section.cards-container {
  margin: 4rem 0 5rem;
  padding: 0 1rem;
}

.section.cards-container h1,
.section.cards-container h2,
.section.cards-container h3,
.section.cards-container h4,
.section.cards-container h5,
.section.cards-container h6 {
  text-align: center;
}

main .block.cards {
  margin: 0 auto 3.75rem;
}

.cards > ul {
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  padding: 0;
  padding-inline-start: 0;
}

.cards > ul > li {
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(60 70 80 / 20%);
  border: none;
  transition: all 0.15s ease-in-out;
  margin: 0 0 1rem;
  align-items: center;
  text-align: left;
  flex: 1;
  background-color: var(--white);
}

.cards > ul > li:hover {
  box-shadow: 0 4px 1rem 0 rgb(60 70 80 / 40%);
}

.cards > ul > li .date {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-medium);
  padding-bottom: 0.5rem;
}

.cards > ul > li > a.button {
  margin: 0;
  height: 100%;
  color: var(--card-text-color);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border: 0;
  background: none;
  white-space: normal;
  font-size: var(--body-font-size-s);
  border-radius: 0;
  line-height: 21px;
  letter-spacing: 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 0;
}

.cards > ul > li > a {
  text-decoration: none;
}

.cards > ul > li > a:hover {
  text-decoration: none;
  background-color: initial;
}

.cards .cards-card-body {
  margin: 0 auto;
  text-align: left;
  color: var(--light-black);
  padding: 10px 10px 0;
}

.cards .cards-card-body .title {
  margin-bottom: 1rem;
}

.cards.large-text .cards-card-body .date {
  font-size: var(--body-font-size-xs);
}

.cards.large-text .cards-card-body .title {
  font-size: var(--body-font-size-m);
  margin-bottom: 3rem;
}

.cards .cards-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;    
}

.cards .cards-card-image span.icon,
.cards .cards-card-image span.icon svg {
  width: 100%;
  height: 100%;
}

.cards .cards-card-body u {
  text-decoration: none;
}

.cards .cards-card-image {
  height: 12.5rem;
  margin: 0;
  padding: 0;
}

.cards .cards-card-body div {
  height: 100%;
  margin: 0;
}

/* Styles for features-items cards */

main .cards.features-items h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main .cards.features-items ul > li {
  align-items: flex-start;
}

/* Styles for machine parts cards */

main .cards.machine-parts .cards-card-image {
  width: 100%;
  height: 100%;
}

main .cards.machine-parts .cards-card-body {
  width: auto;
  padding: 1.5rem 1rem;
}

main .cards.machine-parts .cards-card-body h1,
main .cards.machine-parts .cards-card-body h2,
main .cards.machine-parts .cards-card-body h3,
main .cards.machine-parts .cards-card-body h4,
main .cards.machine-parts .cards-card-body h5,
main .cards.machine-parts .cards-card-body h6,
main .cards.machine-parts .cards-card-body p {
  text-align: left;
  text-transform: none;
}

main .cards.machine-parts .cards-card-body h6 {
  font-size: var(--heading-font-size-xs);
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

main .cards.machine-parts .cards-card-body img {
  height: 2rem;
}

main .cards.machine-parts .cards-card-body p {
  font-size: var(--body-font-size-m);
  margin-bottom: 1rem;
  color: var(--light-black);
}

main .cards.machine-parts .cards-card-body p:last-child {
  margin-bottom: 0;
}

main .cards.machine-parts .cards-card-body a {
  line-height: 1;
  display: inline-block;
  width: 100%;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  text-decoration: none;
}

main .cards.machine-parts .cards-card-body a > strong {
  color: var(--light-black);
  margin-right: 1rem;
}

main .cards.machine-parts ul > li {
  padding: 0;
  box-shadow: none;
}

main .nolink .cards > ul > li .cards-card-image {
  height: 135px;
  width: 240px;
  display: flex;
  align-self: flex-start;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  margin: inherit;
  border: 1px solid #3C46501A;
}

main .cards-wrapper .machine-parts .cards-card-body h3{
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--light-black);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}

.cards.nolink.no-buttons.machine-parts.block > ul{
  flex-flow: column;
}

@media screen and (min-width: 48rem) {
  .cards > ul > li {
    margin: 0 7px;
  }

  .cards.grid > ul > li {
    margin: 0 0 1rem;
  }

  .cards > ul {
    flex-flow: row nowrap;
  }

  .cards.grid > ul {
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 62rem) {
  .section.cards-container {
    margin: 5rem 0;
  }

  .section.cards-container h2 {
    max-width: 71.25rem;
  }

  main .block.cards {
    padding-left: 0;
    padding-right: 0;
  }

  .cards.grid > ul {  
    display: grid;
    grid-template-columns: repeat(auto-fill, 16.875rem);
    justify-content: space-between;
    grid-gap: 2rem;
  }

  .cards > ul > li {
    padding: 0;
    text-align: center;
  }

  .cards > ul > li > a.button {
    padding: 1rem 6px 0;
    display: block;
  }

  .cards .cards-card-body {
    width: initial;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cards .cards-card-image {
    margin: auto;
  }

  /* Style for features-items cards */
  main .cards.features-items ul > li {
    width: 16.5rem;
    align-items: center;
  }

  main .cards.features-items p {
    margin: 0 auto;
    font-size: 14px;
    color: var(--transparent-grey-color-2);
  }

}

@media screen and (max-width: 77rem) {
  main .block.cards.machine-parts > ul > li{
     flex-direction: column;
     text-align: center;
  }

  main .nolink .cards > ul > li .cards-card-image {
    height: auto;
    width: auto;
  }

  .cards .nolink .no-buttons .machine-parts .block {
    padding: 0;
  }

  main .section .nolink h2 {
    font-size: var(--heading-font-size-l);
  }
}


@media screen and (min-width: 77rem) {
  .cards.grid > ul {
      grid-template-columns: repeat(auto-fill, 21.875rem);
      justify-content: space-between;
      grid-gap: 3rem;
  }

  .cards > ul > li {
    margin: 0 1rem;
  }

  .cards > ul > li:first-of-type {
    margin-left: 0;
  }

  .cards > ul > li:last-of-type {
    margin-right: 0;
  }

  .cards > ul > li > a.button {
    padding: 20px 0 0;
  }

  .cards.large-text .cards-card-body .date {
    font-size: var(--body-font-size-s);
  }

  .cards.large-text .cards-card-body .title {
    font-size: 20px;
  }

  .cards .cards-card-body {
    font-size: 1rem;
  }

  main .block.cards.machine-parts > ul > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-h2-underline-color);
    padding: 2rem;
    width: auto;
    height: 12.1875rem;
    flex: 1;
    margin: 0;
  }

  main .block.cards.machine-parts > ul > li .cards-card-body p,
  main .block.cards.machine-parts > ul > li .cards-card-body a {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    align-self: flex-start;
  }

}
