main .image-collage {
  columns: 1;
  column-gap: 2rem;
  padding-inline: 1rem;
}

main .image-collage[class*='boxy-col-'] {
  padding-inline: 0;
}

main .image-collage>div {
  display: inline-block;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

main .image-collage[class*='boxy-col-']>div {
  margin-bottom: 1.5rem;
}

main .image-collage>div>div:first-of-type {
  padding-top: 26px;
  padding-bottom: 14px;
}

main .image-collage[class*='boxy-col-']>div>div:first-of-type {
  padding-top: 0;
  padding-bottom: 0;
}

main .image-collage img {
  width: calc(100vw - 2rem);
}

main .image-collage * {
  font-size: var(--font-size-small);
  color: #6D757C;
}

main .image-collage .image-caption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--steel-blue);
  font-size: var(--body-font-size-xs);
  text-align: center;
}

@media (min-width: 62rem) {
  main .image-collage {
    columns: 2;
    padding: unset;
  }

  main .image-collage[class*='boxy-col-'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .image-collage.boxy-col-1::after,
  main .image-collage.boxy-col-2::after {
    content: "";
    flex: 0 0 calc(100% / 2 - 2rem);
  }

  main .image-collage.boxy-col-3::after {
    content: "";
    flex: 0 0 calc(100% / 3 - 2rem);
  }

  main .image-collage.boxy-col-1>div,
  main .image-collage.boxy-col-2>div {
    flex: 0 0 calc(100% / 2 - 2rem);
  }

  main .image-collage.boxy-col-3>div {
    flex: 0 0 calc(100% / 3 - 2rem);
  }

  main .image-collage[class*='boxy-col-']>div {
    margin-bottom: 2rem;
  }

  main .image-collage[class*='boxy-col-']>div>div:first-of-type {
    padding: unset;
  }
}