main .image-collage {
  columns: 1;
  column-gap: 2rem;
  padding-inline: 1rem;
}

main .image-collage[class*='boxy-col-'] {
  padding-inline: 0;
}

main .image-collage>div {
  display: inline-block;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

main .image-collage[class*='boxy-col-']>div {
  margin-bottom: 1.5rem;
}

main .image-collage>div>div:first-of-type {
  padding-top: 26px;
  padding-bottom: 14px;
}

main .image-collage[class*='boxy-col-'].image-with-title > div {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: flex-end;
  align-items: center;
  flex-basis: calc(50% - 16px);
}

main .image-collage[class*='boxy-col-']>div>div:first-of-type {
  padding-top: 0;
  padding-bottom: 0;
}

main .image-collage img {
  width: calc(100vw - 2rem);
}

main .image-collage.wide img {
padding: 2.5rem 1rem;
}

main .image-collage.zoom-in img {
  max-width: 10rem;
  padding: unset;
  margin-bottom: 0.5rem;
  transform: scale(1);
}

main .image-collage.boxy-col-1.zoom-in::after {
  content: unset;
  flex: unset;
}

main .image-collage * {
  font-size: var(--font-size-small);
  color: #6D757C;
}

main .image-collage .image-caption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--steel-blue);
  font-size: var(--body-font-size-xs);
  text-align: center;
}

main .image-collage .image-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-size: var(--heading-font-size-ms);
  font-weight: var(--font-weight-bolder);
  text-align: start;
  text-wrap: nowrap;
}

main .image-collage[class*='boxy-col-'].image-with-title {
  display: flex;
}

main div.autoblocked.image-collage[class*='boxy-col-'].block {
  display: flex;
  flex-direction: column;
}

main div.autoblocked.image-collage[class*='boxy-col-'].caption-above.block > div > div {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 62rem) {
  main .image-collage {
    columns: 2;
    padding: unset;
  }

  main .image-collage[class*='boxy-col-'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .image-collage[class*='boxy-col-'].aublocked {
    flex-direction: column;
  }
  
  main .image-collage.boxy-col-1::after,
  main .image-collage.boxy-col-2::after {
    content: "";
    flex: 0 0 calc(100% / 2 - 2rem);
  }

  main .image-collage.boxy-col-3::after {
    content: "";
    flex: 0 0 calc(100% / 3 - 2rem);
  }

  main .image-collage.boxy-col-1>div,
  main .image-collage.boxy-col-2>div {
    flex: 0 0 calc(100% / 2 - 2rem);
  }

  main .image-collage.boxy-col-3>div {
    flex: 0 0 calc(100% / 3 - 2rem);
  }

  main .image-collage[class*='boxy-col-']>div {
    margin-bottom: 2rem;
  }

  main .image-collage.zoom-in img {
    transform: scale(1.5);
  }

  main .image-collage.wide img {
    padding: 2.5rem 1rem;
    width: unset;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
  }

  main .image-collage.wide.boxy-col-1>div {
    flex: unset;
  }

  main .image-collage[class*='boxy-col-']>div>div:first-of-type {
    padding: unset;
  }
}

@media (max-width: 600px) {
  main .image-collage[class*='boxy-col-'].image-with-title {
    flex-wrap: wrap;
  }

  main .image-collage[class*='boxy-col-'].image-with-title > div {
    flex-basis: 100%;
    align-items: flex-start;
  }
}