main .hero-horizontal-tabs-wrapper {
  background-color: var(--primary);
}

main .hero-horizontal-tabs.block {
  display: flex;
  flex-direction: column;
}

main .hero-horiz-tabs-panel {
  position: relative;
}

main .hero-horiz-tabs-text {
  color: var(--muted-text);
  padding-top: 26px;
  padding-bottom: 72px;
  margin-left: 16px;
  margin-right: 32px;
}

main .hero-horiz-tabs-img {
  order: -1;
}

main .hero-horiz-tabs-text > h2 {
  color: var(--white);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-small);
  line-height: 1.3em;
  margin-bottom: 12px;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h6 {
  color: var(--muted-text);
  font-size: var(--heading-font-size-xxxs);
  letter-spacing: 0.7px;
  margin-bottom: 12px;
}

main .hero-horiz-tabs-text > p {
  font-size: var(--body-font-size-s);
}

main .hero-horiz-tabs-img picture {
  display: block;
  height: 240px;
}

main .hero-horiz-tabs-img picture > img {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  min-width: 100%;
}

main .hero-horizontal-tabs nav {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

main .hero-horizontal-tabs nav a {
  background-color: var(--transparent-blue-light-color);
  padding: 11px 16px;
  color: var(--link-color);
  border-left: 1px solid #d9dfe2;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-bold);
}

main .hero-horizontal-tabs nav a.current {
  background-color: white;
  color: var(--primary);
}

@media (min-width:62rem) {
  main .hero-horizontal-tabs.block {
    flex-direction: row;
    max-width: 872px;
  }

  main .hero-horiz-tabs-text {
    padding-top: 66px;
    margin-left: 0;
    min-width: 436px;
  }

  main .hero-horiz-tabs-text > h6 {
    font-size: var(--heading-font-size-xxs);
  }

  main .hero-horiz-tabs-img {
    order: 0;
  }

  main .hero-horiz-tabs-img picture {
    width: 690px;
    height: 400px;
  }

  main .hero-horizontal-tabs nav {
    position: absolute;
    bottom: 15px;
    left: 0;
  }

  main .hero-horizontal-tabs nav a {
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-regular);
    padding: 16px 32px 18px;
  }
}

@media (min-width:77rem) {
  main .hero-horizontal-tabs.block {
    max-width: 1200px;
  }

  main .hero-horiz-tabs-text {
    padding-top: 88px;
    margin-right: 32px;
    min-width: 472px;
  }

  main .hero-horiz-tabs-text > h2 {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }

  main .hero-horiz-tabs-text > h6 {
    margin-bottom: 24px;
  }

  main .hero-horiz-tabs-text > p {
    font-size: 16px;
  }

  main .hero-horiz-tabs-img picture {
    width: 897px;
    height: 520px;
  }
}