.columns {
  margin: 2rem 0;
}

.columns p,
.columns dl,
.columns ol,
.columns ul,
.columns pre,
.columns blockquote {
  margin-bottom: 1.5rem;
}

.columns.invert-image-order-in-narrow-view,
.columns.invert-even-col-in-narrow-view {
  margin-bottom: 0;
}

.columns > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 4rem;
}

.columns:not(.native-image-sizes) img {
  width: 100%;
}

.columns h2,
.columns h3,
.columns h4 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: 1.3em;
  margin: 0 auto 1rem;
}

.columns h6 {
  margin-top: 2rem;
}

.columns.history h6 {
  color: var(--transparent-grey-color-2);
  font-size: var(--heading-font-size-mxs);
  font-weight: var(--font-weight-medium);
  margin: 0 0 1rem;
}

.columns.history strong {
  font-size: var(--heading-font-size-ms);
}

.columns.plain-links a.button {
  padding: 0;
}

.columns > div > div {
  order: 1;
}

.columns.history > div {
  align-items: center;
}

.columns p.button-container {
  display: inline;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 11rem;
}

.columns a.button.tertiary {
  background-color: unset;
  color: var(--tertiary);
  justify-content: flex-start;
  padding: 0;
}

.columns a.button.primary.video-link::after {
  content: url("../../icons/play.svg");
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

.columns > div > .img-col {
  order: 0;
}

.columns.invert-image-order-in-narrow-view > div .img-col {
  order: 2;
}

.columns .text-col-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.columns.crop-image img {
  object-fit: cover;
  height: 100%;
}

.columns > div > .img-col img {
  display: block;
}

.columns > div > div p {
  margin-top: 0;
}

.columns.history h2 {
  border-bottom: 1px solid var(--primary);
  margin-bottom: 1rem;
  font-size: var(--heading-font-size-xl);
  font-weight: var(--font-weight-small);
}

.columns.crop-image > div {
  align-items: stretch;
}

.columns.constrain-width > div > div.img-col {
  margin: 0 1rem;
}

.columns.top-down {
  margin: 40px 0 0;
}

.columns.top-down > div {
  align-items: flex-start;
  gap: 1rem;
}

.columns.top-down.columns-2-cols {
  max-width: 790px;
}

.columns.top-down.columns-3-cols {
  max-width: 1200px;
}

.columns.plain-links > div > div,
.columns.plain-links > div > div p {
  font-size: var(--body-font-size-s);
  margin-left: 0;
}

.columns.text-layout > div > div h2 {
  font-size: var(--heading-font-size-mxl);
  margin: 0;
}

.columns.text-layout > div > div > div {
  font-size: var(--body-font-size-l);
}

.columns.history.invert-image-order-in-narrow-view > div,
.columns.invert-even-col-in-narrow-view > div:nth-child(even) {
  flex-direction: column-reverse;
}

.columns div.img-col.video-modal p {
  position: relative;
}

.columns div.img-col.video-modal a::after {
  display: block;
  position: absolute;
  content: '';
  background: url("../../icons/play.svg") no-repeat center;
  background-size: cover;
  height: 5.25rem;
  width: 5.25rem;
  border-radius: 50%;
  top: calc(50% - 5.25rem / 2);
  left: calc(50% - 5.25rem / 2);
}

.columns.plain-links > div > div p:last-of-type {
  margin-bottom: 0;
}

.columns.plain-links > div h6 {
  border-bottom: 1px var(--transparent-grey-light-color) solid;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  text-transform: unset;
}

.columns.plain-links.collapse > div h6 {
  color: var(--text-color);
  padding-bottom: 0.5rem;
  margin: 0 0 1rem;
  position: relative;
}

.columns.top-down.collapse {
  margin: 0;
}

.columns.top-down.collapse > div {
  gap: 0;
}

.columns.text-and-image-in-column > div div.text-col {
  margin: 0;
}

.columns.text-and-image-in-column > div div.text-col p {
  text-align: center;
}

.columns.text-and-image-in-column > div div.text-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.columns:not(.no-padding) > div > div:not(.columns-img-col) {
  padding: 1rem;
}

.columns :not(.history) :not(.no-padding) > div div.non-singleton-img {
  margin: 0 1rem;
}

/* both autoblocking options for bottom caption */
.columns.history div.image-collage.autoblocked picture ~ em,
.columns.history div.image-collage.autoblocked picture ~ p {
  color: var(--steel-blue);
  font-size: var(--body-font-size-s);
  margin: 1rem 0;
  text-align: center;
}


.columns.history
  div.image-collage.autoblocked
  div.text-col:last-of-type,
.columns.history
  div.image-collage.autoblocked
  div.img-col:last-of-type {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}


.columns.history
  div.image-collage.autoblocked
  div.text-col:last-of-type
  picture,
.columns.history
  div.image-collage.autoblocked
  div.img-col:last-of-type
  picture {
  margin: 0 auto 2rem;
}

div.img-col > video {
  width: 100%;
}

@media (min-width: 62rem) {
  .columns.top-down.collapse > div {
    gap: 1.5rem;
  }
}

@media (max-width: 61rem) {
  .columns.collapse.top-down.columns-2-cols {
    max-width: 100%;
  }

  .columns.plain-links.collapse > div > div {
    width: 100%;
  }

  .columns.plain-links.collapse:not(.continuation) > div > div:first-child {
    margin-top: 3rem;
  }

  .columns.plain-links.collapse.collapse-without-top-margin:not(.continuation)
    > div
    > div:first-child {
    margin-top: 0;
  }

  .columns.plain-links.collapse > div h6::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(0deg);
    background-image: url("/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: ease 0.2s;
  }

  .columns.plain-links.collapse > div h6.active::after {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.columns.plain-links > div li {
  list-style: none;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.columns.plain-links > div a {
  font-size: var(--body-font-size-s);
  color: var(--secondary);
}

.columns.plain-links a.button.primary {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  background-color: unset;
  color: var(--secondary);
}

.columns.plain-links.collapse ul {
  display: none;
}

.columns.plain-links.collapse ul.active {
  display: block;
}

.columns-container.backgroundimage .backgroundimage {
  display: none;
}

@media (min-width: 62rem) {
  .columns h2,
  .columns:not(.no-buttons) h3,
  .columns:not(.no-buttons) h4 {
    font-size: var(--heading-font-size-mxl);
    font-weight: var(--font-weight-small);
    margin: 0 auto 1.5rem;
  }

  .columns h6 {
    margin-top: unset;
  }

  .columns p.button-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: unset;
  }

  .columns a.button.primary {
    min-width: 11rem;
  }

  .columns > div {
    flex-direction: unset;
    gap: 3rem;
    margin-bottom: 7.5rem;
  }

  /* picture in column with text */
  .columns.history p ~ div > div.image-collage.autoblocked picture {
    display: table;
    width: 100%;
  }

  .columns > div .img-col {
    order: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    flex-basis: 50%;
  }

  .columns.history > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .columns.invert-image-order-in-narrow-view > div .img-col,
  .columns.invert-even-col-in-narrow-view > div:nth-child(even) .img-col {
    order: unset;
  }

  .columns.plain-links > div a {
    font-size: var(--body-font-size-m);
    line-height: 1.2;
  }

  .columns.plain-links.collapse ul {
    display: block;
  }

  .columns:not(.history, .text-and-image-in-column) .text-col-wrapper img:not(.video-modal) {
    height: 3.125rem;
    width: unset;
  }

  .columns-container.backgroundimage {
    position: relative;
  }

  .columns-container.backgroundimage .section-container {
    position: relative;
    z-index: 1;
  }

  .columns-container.backgroundimage .backgroundimage {
    position: absolute;
    display: block;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Column styles - Machine parts */
  main .block.columns.machine-parts > div {
    align-items: flex-start;
    gap: 1rem;
  }

  main .block.columns.machine-parts .img-col {
    flex: auto;
    flex-basis: auto;
  }

  main .block.columns.machine-parts .text-col h1,
  main .block.columns.machine-parts .text-col h2,
  main .block.columns.machine-parts .text-col h3,
  main .block.columns.machine-parts .text-col h4,
  main .block.columns.machine-parts .text-col h5,
  main .block.columns.machine-parts .text-col h6 {
    text-align: left;
    text-transform: none;
  }

  main .block.columns.machine-parts .text-col p {
    margin-bottom: 1.5rem;
  }

  main .block.columns.machine-parts .text-col h6 {
    font-size: var(--heading-font-size-xs);
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    color: var(--light-black);
  }

  main .block.columns.machine-parts .text-col a {
    margin-bottom: 14px;
    line-height: 1;
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: var(--body-font-size-m);
    text-decoration: none;
  }

  main .block.columns.machine-parts .text-col a > strong {
    color: var(--light-black);
    margin-right: 1rem;
  }

  main .columns.history.invert-image-order-in-narrow-view > div,
  main .columns.invert-even-col-in-narrow-view > div:nth-child(even) {
    flex-direction: row;
  }

  div.img-col > video {
    height: 337px;
    width: 337px;
  }
}

@media (min-width: 77rem) {
  div.img-col > video {
    height: 469px;
    width: 469px;
  }
}
