.columns {
  margin: 2rem 0 4rem;
}

.columns > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns h2 {
  font-size: var(--heading-font-size-m);
}

.columns h6 {
  color: var(--secondary);
  font-size: var(--heading-font-size-xxxs);
  margin-top: 2rem;
}

.columns p.button-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 11rem;
}

.columns a.button.tertiary {
  background-color: unset;
  color: var(--tertiary);
  justify-content: flex-start;
}

.columns a.button.primary.video-link::after {
  content: url("../../icons/play.svg");
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div {
  order: 1;
}

.columns > div > div > h2 {
  margin: 1.5rem 0;
}

.columns > div > div > p {
  margin: 2rem 0 3rem;
  margin-top: 0;
}

.columns > div > div.non-singleton-img {
  margin: 0 1rem;
}

.columns.constrain-width > div > div.columns-img-col {
  margin: 0 1rem;
}

.columns.top-down {
  margin: 40px 0 0;
}

.columns.top-down > div {
  align-items: flex-start;
  gap: 1rem;
}

.columns.top-down.columns-2-cols {
  max-width: 790px;
}

.columns.top-down.columns-3-cols {
  max-width: 1200px;
}

.columns.plain-links > div > div,
.columns.plain-links > div > div > p {
    font-size: var(--body-font-size-s);
    margin-left: 0;
}

.columns.plain-links > div > div > p:last-of-type {
  margin-bottom: 0;
}

.columns.plain-links > div h6 {
  color: var(--link-color);
  border-bottom: 1px var(--transparent-grey-light-color) solid;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  text-transform: unset;
}

.columns.plain-links > div li {
  height: 2.5rem;
  list-style: none;
}

.columns.plain-links > div a {
  font-size: var(--body-font-size-s);
  color: var(--secondary);
}

.columns.plain-links a.button.primary {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  background-color: unset;
  color: var(--secondary);
}

@media (min-width: 62rem) {
  .columns {
    margin-bottom: 7.5rem;
  }

  .columns h2 {
    font-size: var(--heading-font-size-xl);
  }

  .columns h6 {
    font-size: var(--heading-font-size-xxs);
    margin-top: unset;
  }

  .columns p.button-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: unset;
  }

  .columns a.button.primary {
    min-width: 11rem;
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 3rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    flex-basis: 50%;
  }

  .columns.plain-links > div a {
    font-size: var(--body-font-size-m);
    line-height: 1.2;
  }
}