body.about main .section:not(.full-width) .block.columns:not(.crop-image) .columns-img-col {
  align-self: center;
}

body.about main .overlapping-content.edge-to-edge-on-narrow .overlapping-content-item img {
  height: 14.5rem;
}

body.about main .section:not(.full-width) .block.columns img {
  height: 12rem;
}

body.about main .section:not(.full-width) .block.columns:not(.crop-image) img {
  object-fit: contain;
}

body.about main .section:not(.full-width) .block.columns.crop-image img {
  object-position: top 40% right 0;
}

body.about main a.button.tertiary {
  font-size: var(--heading-font-size-xxs);
}

@media (min-width: 62rem) {
  body.about main .block.columns > div {
    gap: 0;
  }

  body.about main .section.full-width .block.columns > div {
    gap: 1.5rem;
  }

  body.about main .block.columns h2 {
    font-size: var(--heading-font-size-xl);
  }

  body.about main .section.full-width .block.columns h2 {
    font-size: var(--heading-font-size-mxl);
  }

  body.about main .overlapping-content.edge-to-edge-on-narrow .overlapping-content-item img,
  body.about main .section:not(.full-width) .block.columns img {
    height: 100%;
  }

  body.about main .section.full-width .block.columns > div > div:nth-child(2) .non-singleton-img {
    max-width: 30rem;
  }

  body.about main .section:not(.full-width) .block.columns.crop-image img {
    object-fit: contain;
  }

  body.about main .block.overlapping-content > div.background .background-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 77rem) {
  body.about main .block.columns > div {
    gap: 10.25rem;
  }

  body.about main .section.full-width .block.columns > div {
    gap: 6.5rem;
  }

  body.about main .section.full-width .block.columns.crop-image img {
    max-height: 33.75rem;
  }

  body.about main .block.overlapping-content > div.background .background-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}