body.air main .block.text.black {
  max-width: 52rem;
}

body.air main .block.text.black h3 {
  color: var(--light-black);
  line-height: 1.5rem;
  font-size: var(--heading-font-size-mxs);
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

body.air main .block.columns:not(.crop-image) .columns-img-col {
  align-self: center;
}

body.air main .block.columns img {
  height: 14.25rem;
}

body.air main .block.columns:not(.crop-image) img {
  object-fit: contain;
}

body.air main .section.full-width.contact-us > .section-container > .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

body.air main .section.centered.ja-air-links p:last-child > a.button {
  background-color: inherit;
  color: var(--tertiary);
  justify-content: flex-start;
  font-weight: var(--font-weight-medium);
}

@media (min-width: 62rem) {
  body.air main .block.columns {
    margin: 3rem auto;
  }

  body.air main .block.text.black {
    max-width: unset;
  }

  body.air main .block.text.black h3 {
    line-height: 2.5rem;
    font-size: var(--heading-font-size-m);
    text-align: center;
  }

  body.air main .block.columns > div div.non-singleton-img,
  body.air main .block.columns > div > div.columns-img-col {
    margin: 0;
  }

  body.air main .block.hero-banner img {
    object-position: top 0 right -14rem;
  }

  body.air main .block.columns > div {
    gap: 2rem;
  }

  body.air main .block.columns h2 {
    font-size: var(--heading-font-size-xl);
  }

  body.air main .block.columns img {
    height: 100%;
  }

  body.air main .block.columns.crop-image img {
    object-fit: contain;
  }
}

@media (min-width: 77rem) {
  body.air main .block.columns > div {
    gap: 10.5rem;
  }
}

@media (min-width: 106.5rem) {
  body.air main .block.hero-banner img {
    object-position: 0 0;
  }
}