
body.automotive .features-detail h3 {
    font-size: var(--heading-font-size-mxs);
    font-weight: var(--font-weight-medium);
    margin: 2rem 1rem 4rem;
    text-align: left;
    line-height: 1.5rem;
}

body.automotive .black h2,
body.automotive .features-detail.black h3 {
    color: var(--light-black);
}

body.automotive .features h2 {
    width: auto;
    text-align: left;
    margin: 0 1rem 1.5rem;
    color: var(--primary);
}

body.automotive main .cards ul>li {
    height: unset;
}

body.automotive main .cards p {
    margin: 0 auto;
    font-size: var(--body-font-size-s);
    color: #3C465090;
}

body.automotive .cards .cards-card-body p {
    text-align: left;
}

body.automotive main .section.search-by-process {
    background-color: var(--primary);
}

body.automotive .search-by-process .section-container {
    padding: 0 1rem;
}

body.automotive .search-by-process h2 {
    margin: 2rem 0;
    line-height: 1;
    color: #FAFAFA;
    display: inline-block;
    width: 100%;
}

body.automotive .search-by-process .columns {
    display: flex;
    flex-direction: column; 
    margin-top: 0;
    gap: 1rem;
}

body.automotive .search-by-process .columns > div {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem 1rem;
    background-color: var(--white);
    gap: unset;
    box-shadow: 0 0.125rem 0.5rem 0 var(--transparent-grey-color);
}

body.automotive .search-by-process .columns > div:last-child {
    margin-bottom: 1rem;
}

body.automotive .search-by-process .columns > div > div.non-singleton-img {
   margin: 0;
}

body.automotive .search-by-process .columns .icon {
    width: 100%;
    height: 100%;
}

body.automotive .search-by-process .columns .icon svg {
    width: 7.5rem;
    height: 7.5rem;
}

body.automotive .search-by-process .columns > div a {
    background: unset;
    color: var(--link-color);
    font-size: var(--heading-font-size-mxs);
    font-style: normal;
    justify-content: unset;
    font-weight: var(--font-weight-medium);
    height: unset;
    line-height: 1.5rem;
}

body.automotive .search-by-process .columns > div p {
   margin-bottom: 0.75rem;
   display: block;
   width: auto;
}

body.automotive .search-by-process .columns>div h3 {
    margin-bottom: 1.5rem;
    color: var(--light-black);;
}

body.automotive .search-by-parts {
    position: relative;
    margin-bottom: 2.5rem;
}

body.automotive .search-by-parts .section-container {
    padding: 0 1rem;
}

body.automotive .search-by-parts h2 {
    display: inline-block;
    width: 100%;
    margin: 0 0 1rem;
}

body.automotive .search-by-parts .columns > div  div.non-singleton-img {
    margin: 2rem 1rem;
    padding: 0 1rem;
}


body.automotive .search-by-parts ol {
    column-count: 1;
}

body.automotive .columns.plain-links > div a {
    font-size: var(--heading-font-size-mxs);
}

body.automotive .columns.non-button.block.columns-2-cols a {
    color: var(--secondary);
    background-color: transparent;
    font-size: 1rem;
    font-style: normal;
    justify-content: unset;
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    text-size-adjust: 100%;

}

body.automotive .search-by-function {
    position: relative;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    background: var(--transparent-blue-light-color);
}

body.automotive .search-by-function .section-container {
    padding: 0 1rem;
}

body.automotive .search-by-function h2 {
    margin: 2.5rem 0 1.5rem;
    line-height: 1;
    display: inline-block;
    width: 100%;
}

body.automotive .columns.plain-links.collapse:not(.continuation) > div > div:first-child {
    margin-top: 0;
} 

body.automotive .search-by-material.section.contacts-and-links {
    padding-bottom: 0;
    margin-bottom: 5rem;
}

body.automotive .columns.plain-links.collapse h6 {
    font-weight: var(--font-weight-medium);
}

body.automotive .text.level0.black h6 {
    width: 100%;
    font-size: var(--heading-font-size-mxs);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    color: var(--light-black);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--transparent-grey-light-color);
    text-transform: capitalize;
}

body.automotive .columns.plain-links.collapse.level0 h6 {
    font-weight: var(--font-weight-medium);
    font-size: var(--heading-font-size-mxs);
    margin: 0.688rem 0;
}



body.automotive main .block.text h3 {
    font-size: var(--heading-font-size-mxs);
    font-weight: var(--font-weight-medium);
}

ol > li::marker {
    font-weight: bold;
}

@media (min-width: 62rem) {
    body.automotive .features-detail h3 {
        max-width: 50rem;
        text-align: center;
        margin: 0 auto 6rem;
        color: var(--light-black);
        line-height: 1.3em;
    }

    body.automotive .cards .cards-card-body p {
        text-align: center;
    }

    body.automotive .search-by-process .section-container {
        padding: unset;
    }

    body.automotive main .block.text.arc-solution h4 {
        font-size: var(--heading-font-size-l);
        text-align: center;
    }

    body.automotive main .block.text h3 {
        font-size: var(--heading-font-size-m);
    }

    body.automotive .features h2 {
        max-width: 56.25rem;
        text-align: center;
        margin: 0 auto 4rem;
    }

    body.automotive main .section.search-by-process {
        margin-bottom: 15rem;
        height: 30rem;
    }

    body.automotive .search-by-process .columns {
        flex-direction: row;
        gap: 0;
    }
    
    body.automotive .search-by-process .columns>div {
        width: calc(25%);
    }
    
    body.automotive .search-by-process .columns > div:last-child {
       width: calc(25% - 1rem);
       margin-left: 1rem;
       margin-bottom: 0;
    }
    
    body.automotive .search-by-process .columns > div:not(:last-child) {
        box-shadow: 0 0.125rem 0.5rem 0 var(--transparent-grey-color);
    }

    body.automotive .search-by-process .columns > div div.non-singleton-img-wrapper {
        flex: unset;
    }

    body.automotive .search-by-process h2 {
        margin: 4rem 0;
    }

    body.automotive .search-by-parts {
        margin-bottom: 7.5rem;
    }

    body.automotive .search-by-parts .section-container {
        padding: 0;
    }

    body.automotive .search-by-parts .columns > div > div.non-singleton-img {
        margin: 0 1rem;
        padding: 0;
    }

    body.automotive .search-by-parts ol {
        column-count: 2;
        column-gap: 3rem;
    }

    body.automotive .search-by-function {
        margin-bottom: 7.5rem;
        padding-bottom: 5rem;
    }

    body.automotive .search-by-function .section-container {
        padding: 0;
    }

    body.automotive .search-by-function h2 {
        margin: 5rem 0 4rem;
    }

    body.automotive .text.level0.black h6  {
        border-bottom: unset;
    }

    body.automotive .columns.plain-links.collapse.level0 h6 {
        font-size: var(--heading-font-size-mxs);
        font-weight: var(--font-weight-bold);
    }

    body.automotive .search-by-function .columns.plain-links.collapse h6 {
        font-weight: var(--font-weight-bold);
    }

    body.automotive .columns.plain-links.collapse.columns-1-cols > div {
        width: calc(25%);
    }
}
