body.career main ol {
  padding: revert;
}

body.career main .block.link {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

body.career main .block.link a {
  color: var(--white);
  background-color: var(--secondary);
  font-weight: var(--font-weight-bold);
}

body.career main .block.link a:hover {
  background: var(--link-sky-color);
}

body.career main .block.link a:focus {
  box-shadow: 0 0 0 0.2rem #26579080;
}

body.career main .block.link a:active {
  color: var(--white);
  background-color: #003449;
  border-color: #002b3c;
}

body.career main .block.link a.button::after {
  content: url("../../icons/link-white.svg");
}
