body.construction-examples main .section.image-collage-container .button-container a {
    background: unset;
    color: var(--link-color);
}

body.construction-examples main .section.image-collage-container .button-container {
    text-align: center;
}
