body.construction-examples main .block.link .button-container {
  text-align: center;
}
  
body.construction-examples main .block.link .button-container a {
  background: unset;
  color: var(--link-color);
}
