body.detailpage .main-content h2 {
  margin-top: 0;
  color: var(--primary);
  border-bottom: 4px solid var(--text-h2-underline-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 1.3em;
}

body.detailpage .main-content h3 {
  margin-bottom: 1.5rem;
  line-height: 1.3em;
  color: var(--text-color);
  font-weight: 500;
}

body.detailpage .main-content p {
  margin-bottom: 1.5rem;
}

body.detailpage .main-content a {
  color: var(--secondary);
  background-color: transparent;
}

body.detailpage .main-content a:hover {
  text-decoration: underline;
}

body.detailpage .main-content ul,
body.detailpage .main-content ol {
  padding-inline-start: 1.25rem;
  margin-bottom: 1.5rem;
}

body.detailpage .main-content ul li,
body.detailpage .main-content ol li {
  margin-bottom: 1rem;
}

body.detailpage .main-content ul li:last-child,
body.detailpage .main-content ol li:last-child {
  margin-bottom: 0;
}

body.detailpage .columns > div > div.non-singleton-img {
  margin: unset;
}

body.detailpage .main-content .columns {
  margin: 0 0 1.75rem;
}

body.detailpage .main-content .columns > div {
  align-items: flex-start;
}

body.detailpage .main-content .columns ul {
  margin-bottom: 1rem;
  font-size: var(--body-font-size-s);
}

body.detailpage .main-content .columns > div > div > p:nth-last-child(2) {
  margin-bottom: 0;
}

body.detailpage .main-content .columns > div > div > p:last-of-type {
  font-size: 0.88rem;
  line-height: 1.7em;
  color: var(--gray);
}

body.detailpage .main-content .columns.reverse-detailpage {
  margin: 0 0 1.5rem;
}

body.detailpage .main-content .columns.reverse-detailpage img {
  width: auto;
  max-width: 9.375rem;
}

body.detailpage .main-content .columns.reverse-detailpage > div {
  flex-direction: row-reverse;
}

body.detailpage .main-content .columns.reverse-detailpage > div > div {
  flex-basis: fit-content;
}

@media (min-width: 62rem) {
  body.detailpage .main-content h2 {
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    font-size: var(--heading-font-size-xmxl);
  }

  body.detailpage .main-content h3 {
    margin-bottom: 2rem;
  }

  body.detailpage .main-content ul,
  body.detailpage .main-content ol {
    padding-inline-start: 2rem;
    margin-bottom: 2rem;
  }

  body.detailpage .main-content .columns.reverse-detailpage {
    margin-bottom: 2rem;
  }

  body.detailpage .main-content .columns.reverse-detailpage > div {
    flex-direction: row;
  }
}

@media (min-width: 77rem) {
  body.detailpage .main-content .columns.reverse-detailpage {
    margin: 0;
  }
}
