body.joboffer main div.section.spaced {
  padding-bottom: 0;
}

body.joboffer main div.section.spaced.form-container {
  padding-top: 0;
}

body.joboffer main .section .form {
  margin-left: 0;
  padding-left: 0;
}

body.joboffer main .section.spaced p {
  margin-bottom: 0;
}

body.joboffer main .section.spaced.widespaced p {
    margin-bottom: 6rem;
}

body.joboffer main .section.spaced.widespaced p:last-of-type {
    margin-bottom: 0;
}

body.joboffer main .section.spaced ul:last-of-type {
    margin-bottom: 6rem;
}
  
body.joboffer main div.section.spaced h4 {
  margin-top: 6rem;
  letter-spacing: 0;
  line-height: 27.2px;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  font-style: normal;
  color: var(--text-color);
}

body.joboffer main div.section.spaced.widespaced h4 {
  font-weight: bolder;
}