body.news .block.columns > div {
  gap: 1rem;
  margin-bottom: 1.5rem;
}

body.news .block.columns {
  margin-bottom: 2rem;
}

body.news .block.columns > div > .columns-img-col {
  width: 100%;
}

body.news main .block.table .table-item div {
  background: var(--white);
  text-align: unset;
}

@media (min-width: 36rem) {
  body.news .block.columns {
    margin-bottom: 0;
    margin-top: 1.2rem;
  }

  body.news .block.columns > div {
    align-items: center;
    flex-direction: unset;
    margin-bottom: 0;
    gap: 1.9rem;
  }

  body.news .block.columns > div > div {
    flex: 1;
  }

  body.news .block.columns .non-singleton-img {
    margin-bottom: 1.5rem;
    margin-left: 0;
  }

  body.news .block.image-collage[class*='boxy-col-'] {
    display: flex;
    justify-content: unset;
  }

  body.news main .table .table-item div {
    font-size: var(--body-font-size-m)
  }

  body.news main .block.table .table-item {
    width: 100%;
  }
}
