/* For the newsroom featured block title */

main .section.newsroom h4 {
    color: var(--hero-strong-color);
    padding-top: 0;
  }
  
main .newsroom.section .cards-card-body .title {
    font-size: var(--body-font-size-m);
  }
  
  main .newsroom.section .cards-card-body > div {
    height: 10rem;
  }
  
  main .newsroom.section .cards-card-image img {
    object-position: 50% 50%;
  }

  main .newsroom.section .cards > ul {
    gap: 1.5rem;
  }
