.privacy main .section.spaced h2,
.privacy main .section.spaced h3,
.privacy main .section.spaced h4,
.privacy main .section.spaced ul,
.privacy main .section.spaced p {
  margin-bottom: 1.5rem;
}

.privacy main .section.spaced h2 {
  margin-top: 4rem;
}

.privacy main .section.spaced h3 {
    margin-top: 0;
    color: var(--primary)
}

.privacy main .section.spaced p+h3 {
  margin-top: 3rem;
}

.privacy main .section.spaced ul+h3 {
  margin-top: 3rem;
}

.privacy main .section.spaced h4 {
  margin-top: 1rem;
  color: rgba(60 70 80 / 50%);
  font-size: var(--heading-font-size-mxs);
}

.privacy main .section.spaced .consent-manager h3,
.privacy main .section.spaced .consent-manager h4 {
  color: var(--text-color);
}

.privacy p.button-container {
  margin-top: 0;
}

.privacy p.button-container a {
  height: auto;
}

.privacy main .section.spaced li {
  margin-left: 1rem;
  line-height: 1.5;
}

.privacy main .section.spaced li ul {
  margin-bottom: 0;
}
  
.privacy main .section.spaced li li {
  margin-top: 0;
  margin-bottom: 1rem;
}

.privacy main .section.spaced li li:first-child {
  margin-top: 1rem;
}

.privacy main .standardtable table {
  margin-bottom: 1.5rem;
}

.privacy main .section.narrow {
  max-width: 45rem;
  margin-inline: auto;
}