body.underfill main .section.image-before > .section-container {
    position: relative;
    max-width: 100%;
  }
  
  body.underfill main .section.image-after > .section-container {
    position: relative;
    max-width: 100%;
  }
  
  body.underfill main .section > .section-container img {
      width: 100%;
  }
  
  body.underfill main .section.image-before-after-t1 > div p img {
    width: 402px;
    height: 253px;
    position: absolute;
    top: -22vh;
    z-index: 1;
  }
  
  body.underfill main .section.image-before-after-t2 > div p img {
    width: 181px;
    height: 533px;
    position: absolute;
    top: -29vh;
    z-index: 1;
  }
  
  body.underfill main .section.image-before-after-t3 > div p img {
    width: 190px;
    height: 131px;
    position: absolute;
    top: -30vh;
    z-index: 1;
  }
  
  body.underfill main .section.image-before-after-t4 > div p img {
    width: 107px;
    height: 420px;
    position: absolute;
    top: -30vh;
    z-index: 1;
    right: 90px;
  }
  
  body.underfill main .section.right > div p img {
    right: 0;
  }
  
  /* section - full-width */
  body.underfill main .section.full-width > .section-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  body.underfill main .section.with-background-image > .section-container {
      max-width: 50%;
      right: 8vw;
  }
  
  /* section - dark indigo */
  body.underfill main .section.bg-dark-indigo {
      background-color: var(--underfill-dark-indigo);
  }
  
  body.underfill main .section > .section-container h1 {
      font-size: var(--heading-font-size-xxl);
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  body.underfill .section.with-background-image.align-bottom > .section-container {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  body.underfill .section.with-background-image.align-bottom.text-shadow h1 {
      text-shadow: 0 0 120px #490c61, 0 0 100px #490c61, 0 0 90px #490c61, 0 0 80px #490c61, 0 0 80px #490c61, 0 0 90px #490c61, 0 0 0 #490c61;
  }
  
  
  
  /* stylelint-disable-next-line no-descending-specificity */
  body.underfill .section.with-background-image.align-left > .section-container {
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
  }
  
  /* section - image-before */
  body.underfill main .section.image-before > div p img {
      display: none;
  }
  
  body.underfill main .section.image-after > div p img {
      display: none;
  }
  
  
  body.underfill main .section > .section-container h5 {
      line-height: 1.8;
  }
  
  body.underfill main .section .text-col {
      line-height: 1.8;
  }
  
  body.underfill main .section.with-background-image.title > .section-container {
      max-width: 70%;
      right: 8vw;
  }

  body.underfill .block.quote::before {
    left: 0;
  }
  
  
  @media (min-width: 62rem) {
      body.underfill main .section.image-before > div p img {
          display: block;
      }
  
      body.underfill main .section.up {
          position: relative;
          top: -17vh;
      }
  
      body.underfill main .section.with-background-image.title > .section-container {
          max-width: 70%;
          right: 8vw;
      }
  
  }
  
  @media (min-width: 77rem) {
      body.underfill main .section.image-after > div p img {
          display: block;
      }
  
      body.underfill main .section.with-background-image > .section-container {
          max-width: 40%;
          right: 8vw;
      }
  
      body.underfill main .section.with-background-image.title > .section-container {
          max-width: 60%;
          right: 8vw;
      }
  }
  
  
  