/* header and nav layout */
header {
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  z-index: 100;
}

header.header-wrapper.fixed {
  position: fixed;
  top: 0;
  height: var(--nav-bottom-height);
}

header .block {
  max-width: 1200px;
  margin: auto;
}

header nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .social {
  padding: 0 1rem 0 1.5rem;
}

header .social>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}


header .social>ul>li {
  margin-right: .5rem;
  display: flex;
}

header .social>ul>li>a {
  display: flex;
}

header .social .icon {
  width: 16px;
  height: 16px;
}

header .social span.icon-youtube {
  background-image: url("../../icons/youtube.svg");
}

header .social span.icon-linkedin {
  background-image: url("../../icons/linkedin.svg");
}

header .nav-wrapper {
  width: 100%;
  position: fixed;
}

header nav {
  display: flex;
  align-items: center;
}

header nav.nav-top {
  justify-content: flex-end;
  height: var(--nav-top-height);
  display: none;
}

@media (min-width:77rem) {
  header nav.nav-top {
    display: flex;
  }
}

header nav.nav-top>ul {
  display: flex;
}

header nav.nav-top>ul>li {
  display: flex;
  align-items: center;
}

header nav.nav-top>ul>li>a:first-of-type {
  font-size: var(--body-font-size-s);
  line-height: 1;
  display: inline-flex;
  padding: 0 0.5rem;
  text-decoration: none;
}



header nav.nav-middle {
  justify-content: space-between;
  height: var(--nav-middle-height);
  padding: 0 1rem;
}

@media (min-width:77rem) {
  header nav.nav-middle {
    padding: 0;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-middle a {
  display: flex;
}


header.fixed nav.nav-top,
header.fixed nav.nav-middle {
  display: none;
}

header nav.nav-middle>h4 {
  font-size: 15px;
  font-weight: 300;
  color: var(--primary);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

header nav.nav-bottom {
  height: var(--nav-bottom-height);
  justify-content: space-between;
  border-top: 1px solid var(--transparent-grey-light-color);
  border-bottom: 1px solid var(--transparent-grey-light-color);
}

header nav.nav-bottom.open {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  opacity: 1;
  z-index: 100;
}

header nav.nav-bottom>ul {
  display: none;
  position: fixed;
  top: var(--nav-bottom-height);
  height: calc(100% - var(--nav-bottom-height));
  min-height: calc(100vh - var(--nav-bottom-height));
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background: var(--primary);
  z-index: 10;
  margin: 0;
}

header nav.nav-bottom.open>ul {
  display: inline-block;
}

header nav.nav-bottom>ul>li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid var(--transparent-white-color);
  margin-right: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom>ul>li>a {
  margin-right: 0;
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
  color: var(--white);
  border-bottom: none;
  line-height: 1.5;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom>ul>li>ul {
  /* TODO Second level menu */
  display: none;
}


@media (min-width:77rem) {
  header nav.nav-bottom {
    border-top: unset;
    border-bottom: unset;
  }

  header nav.nav-bottom.open {
    position: relative;
    width: unset;
  }

  header nav.nav-bottom>ul,
  header nav.nav-bottom.open>ul {
    display: flex;
    position: static;
    height: unset;
    min-height: unset;
    width: unset;
    overflow-y: unset;
    background: var(--background-color);
  }

  header nav.nav-bottom>ul>li {
    margin-right: 1.9rem;
  }

  header nav.nav-bottom>ul>li>a {
    padding: 1rem 0;
    line-height: 1;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
  }

  header nav.nav-bottom>ul>li>a:hover {
    color: var(--link-hover-color);
  }
}

/* Mobile icon styles */
header .nav-bottom .mobile-icon {
  width: 24px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  margin: 13px 16px;
}

header .nav-bottom .mobile-icon>i {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: var(--primary);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out
}

header .nav-bottom .mobile-icon>i:nth-child(1) {
  top: 5px;
  left: 2px
}

header .nav-bottom .mobile-icon>i:nth-child(2),
header .nav-bottom .mobile-icon>i:nth-child(3) {
  top: 11px;
  left: 2px;
  transition: .25s ease-in-out
}

header .nav-bottom .mobile-icon>i:nth-child(4) {
  top: 17px;
  left: 2px
}

header .nav-bottom.open .mobile-icon>i:nth-child(1) {
  width: 0;
  left: 50%
}

header .nav-bottom.open .mobile-icon>i:nth-child(2),
header .nav-bottom.open .mobile-icon>i:nth-child(3) {
  top: 11px;
  left: 0;
  width: 23.5px;
  transform: rotate(45deg);
  border-radius: 0;
  background: var(--primary);
}

header .nav-bottom.open .mobile-icon>i:nth-child(3) {
  transform: rotate(-45deg)
}

header .nav-bottom.open .mobile-icon>i:nth-child(4) {
  width: 0;
  left: 50%
}


@media (min-width:77rem) {
  header .nav-bottom .mobile-icon {
    display: none;
  }
}

/* Search Styles */

header form.search div {
  border-bottom: 1px solid var(--background-color);
  box-sizing: border-box;
  padding: 2px;
  line-height: 1.5;
  position: relative;
}

header form.search input.search-text {
  border: 0;
  box-sizing: border-box;
  color: var(--link-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  height: 32px;
  padding: 8px 18px 8px 0;
  width: 100%;
}

header form.search input.search-text:focus {
  outline: none;
}

header form.search input.search-text::placeholder {
  color: var(--transparent-grey-color);
}

header form.search button.search-icon {
  background-color: var(--background-color);
  background-image: url('/icons/search.svg');
  background-size: contain;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 8px;
  height: 16px;
  width: 16px;
  min-width: 16px;
  right: 16px;
}

@media (min-width: 77rem) {
  header form.search div {
    min-width: 200px;
    border-bottom-color: var(--transparent-grey-light-color);
  }

  header form.search button.search-icon {
    right: 0;
    height: 14px;
    width: 14px;
    min-width: 14px;
  }
}