/* header and nav layout */
header.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color);

  /* TODO nav layout for mobile */
  display: none;
}

@media (min-width: 1232px) {
  header.header-wrapper {
    display: block;
  }
}

header .block {
  max-width: 1200px;
  margin: auto;
}

header nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .social {
  padding: 0 1rem 0 1.5rem;
}

header .social>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .social>ul>li {
  margin-right: .5rem;
  display: flex;
}

header .social>ul>li>a {
  display: flex;
}

header .social svg {
width: 24px;
height: 24px;
}

header .nav-wrapper {
  width: 100%;
  position: fixed;
}

header nav {
  display: flex;
  align-items: center;
}

header nav.nav-top {
  justify-content: flex-end;
  height: var(--nav-top-height);
}

header nav.nav-top>ul {
  display: flex;
}

header nav.nav-middle {
  justify-content: space-between;
  height: var(--nav-middle-height);
}

header nav.nav-middle>h4 {
  font-weight: 300;
  color: var(--primary);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

header nav.nav-bottom {
  height: var(--nav-bottom-height);
  justify-content: space-between;
}

header nav.nav-bottom>ul>li {
  margin-right: 1.9rem;
}

header nav.nav-bottom>ul>li>a {
  padding: 1rem 0;
  line-height: 1;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header nav.nav-bottom>ul>li>a:hover {
  color: var(--link-hover-color);
}

header nav.nav-bottom>ul>li>ul {
  /* TODO Second level menu */
  display: none;
}


header nav.nav-top>ul>li>a:first-of-type {
  font-size: var(--body-font-size-s);
  line-height: 1;
  display: inline-flex;
  padding: 0 0.5rem;
  text-decoration: none;
}

header form.search div {
  border-bottom: 1px solid var(--background-color);
  box-sizing: border-box;
  padding: 2px;
  line-height: 1.5;
  position: relative;
}

header form.search input.search-text {
  display: none;
  border: 0;
  box-sizing: border-box;
  color: var(--link-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  height: 32px;
  padding: 8px 18px 8px 0;
  width: 100%;
}

header form.search input.search-text:focus {
  outline: none;
}

header form.search input.search-text::placeholder {
  color: var(--transparent-grey-color);
}

header form.search .search-icon {
  background-color: var(--background-color);
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 8px;
  right: 0;
  height: 14px;
  width: 14px;
}

@media (min-width: 77rem) {
  header form.search div {
    min-width: 200px;
    border-bottom-color: var(--transparent-grey-light-color);
  }

  header form.search input.search-text {
    display: block;
  }
}