/* header and nav layout */
header {
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  z-index: 100;
}

header.appear {
  visibility: visible;
}

header.header-wrapper.fixed {
  position: fixed;
  top: 0;
  height: var(--nav-bottom-height);
}

header .block {
  max-width: 1200px;
  margin: auto;
}

header nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .social {
  padding: 0 1rem 0 1.5rem;
}

header .social > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .social > ul > li {
  margin-right: 0.5rem;
  display: flex;
}

header .social > ul > li > a {
  display: flex;
}

header .social .icon {
  width: 16px;
  height: 16px;
}

header .social span.icon-youtube {
  background-image: url("../../icons/youtube.svg");
}

header .social span.icon-linkedin {
  background-image: url("../../icons/linkedin.svg");
}

header .nav-wrapper {
  width: 100%;
  position: fixed;
}

header nav {
  display: flex;
  align-items: center;
}

header nav.nav-top {
  justify-content: flex-end;
  height: var(--nav-top-height);
  display: none;
}

header nav.nav-top > ul {
  display: flex;
}

header nav.nav-top > ul > li {
  display: flex;
  align-items: center;
}

header nav.nav-top > ul > li > a {
  color: var(--light-black);
  display: flex;
}

header nav.nav-top > ul > li > a:first-of-type {
  font-size: var(--body-font-size-s);
  line-height: 1;
  display: inline-flex;
  padding: 0 0.5rem;
  text-decoration: none;
}

header nav.nav-middle {
  justify-content: space-between;
  height: var(--nav-middle-height);
  padding: 0 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-middle a {
  display: flex;
}

header.fixed nav.nav-top,
header.fixed nav.nav-middle {
  display: none;
}

header nav.nav-middle > h4 {
  font-size: 15px;
  font-weight: 300;
  color: var(--primary);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

header nav.nav-bottom {
  height: var(--nav-bottom-height);
  justify-content: space-between;
  border-top: 1px solid var(--transparent-grey-light-color);
  border-bottom: 1px solid var(--transparent-grey-light-color);
  box-sizing: border-box;
}

header.fixed nav.nav-bottom {
  border-top: 0;
}

header nav.nav-bottom.open {
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 0;
  background-color: var(--background-color);
  opacity: 1;
  z-index: 100;
}

header nav.nav-bottom > .menu-level-1 {
  display: none;
  position: absolute;
  top: var(--nav-bottom-height);
  height: calc(100% - var(--nav-bottom-height));
  min-height: calc(100vh - var(--nav-bottom-height));
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background: var(--primary);
  z-index: 10;
  margin: 0;
}

header nav.nav-bottom.open > .menu-level-1 {
  display: inline-block;
}

header nav.nav-bottom .menu-level-1-item {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid var(--transparent-white-color);
  margin-right: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom .menu-level-1-item > a {
  margin-right: 0;
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
  color: var(--white);
  border-bottom: none;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

header nav.nav-bottom .menu-level-1-item:first-of-type > a::after {
  content: "";
  display: inline-flex;
  position: absolute;
  right: 16px;
  top: 18px;
  height: 15px;
  width: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../icons/angle-white-70.svg");
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom .menu-level-1-item > .dropdown-menu {
  display: none;
  width: 100%;
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  margin: 0 auto;
}

header nav.nav-bottom .dropdown-menu.open {
  display: block;
}

header nav.nav-bottom .menu-level-1-item > .dropdown-menu * {
  color: var(--white);
}

header
  nav.nav-bottom
  .menu-level-1-item
  .dropdown-menu
  > .dropdown-menu-header {
  display: none;
}

header nav.nav-bottom .menu-level-2 {
  display: none;
}

header nav.nav-bottom .menu-level-2.open {
  display: flex;
  flex-direction: column;
}

header nav.nav-bottom .menu-level-2-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--transparent-white-color);
  padding: 0 1rem;
  height: 3rem;
}

header nav.nav-bottom .menu-level-2-item-header,
header nav.nav-bottom .menu-level-3-item-header {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: block;
  padding: 0 1rem;
}

header nav.nav-bottom .menu-level-2-item-header .icon,
header nav.nav-bottom .menu-level-3-item-header .icon {
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom .menu-level-2-item > a {
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav.nav-bottom .menu-level-3 {
  display: none;
}

header nav.nav-bottom .menu-level-3.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 3000;
  background-color: var(--primary);
  width: 100%;
  height: 100%;
}

header nav.nav-bottom .menu-level-3-item {
  height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--transparent-white-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header nav.nav-bottom .menu-level-3-item > a {
  font-size: var(--body-font-size-s);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-content: center;
  word-break: break-word;
  position: relative;
}

header .nav-bottom .menu-back-btn {
  display: none;
}

header .nav-bottom .menu-back-btn.visible {
  display: flex;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  line-height: 1;
  color: var(--secondary);
  padding: 0.8125rem 1rem;
}

/* Mobile icon styles */
header .nav-bottom .mobile-icon {
  width: 24px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  margin: 13px 16px;
}

header .nav-bottom .mobile-icon.visible {
  display: inline-block;
}

header .nav-bottom .mobile-icon > i {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: var(--primary);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

header .nav-bottom .mobile-icon > i:nth-child(1) {
  top: 5px;
  left: 2px;
}

header .nav-bottom .mobile-icon > i:nth-child(2),
header .nav-bottom .mobile-icon > i:nth-child(3) {
  top: 11px;
  left: 2px;
  transition: 0.25s ease-in-out;
}

header .nav-bottom .mobile-icon > i:nth-child(4) {
  top: 17px;
  left: 2px;
}

header .nav-bottom.open .mobile-icon > i:nth-child(1) {
  width: 0;
  left: 50%;
}

header .nav-bottom.open .mobile-icon > i:nth-child(2),
header .nav-bottom.open .mobile-icon > i:nth-child(3) {
  top: 11px;
  left: 0;
  width: 23.5px;
  transform: rotate(45deg);
  border-radius: 0;
  background: var(--primary);
}

header .nav-bottom.open .mobile-icon > i:nth-child(3) {
  transform: rotate(-45deg);
}

header .nav-bottom.open .mobile-icon > i:nth-child(4) {
  width: 0;
  left: 50%;
}

/* Other items styles */
header .nav-bottom .other-items {
  height: auto;
  border: none;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

header .nav-bottom .other-items .icon-link-black {
  margin-top: 0.3rem;
  margin-left: 0.1875rem;
  height: 1.0625rem;
  width: 0.875rem;
  background-image: url("/icons/link-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: top;
}

header .nav-bottom .other-items .social .icon {
  font-size: 0;
  line-height: 0;
  margin-right: 1.5rem;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
}

header .nav-bottom .other-items > li {
  padding: 0.8rem 1rem;
}

header .nav-bottom .menu-level-1 > .other-items > li > a {
  color: var(--white);
  font-size: var(--body-font-size-s);
  text-decoration: none;
}

/* Search Styles */

header form.search div {
  border-bottom: 1px solid var(--background-color);
  box-sizing: border-box;
  padding: 2px;
  line-height: 1.5;
  position: relative;
}

header form.search input.search-text {
  border: 0;
  box-sizing: border-box;
  color: var(--light-black);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  height: 32px;
  padding: 8px 18px 8px 0;
  width: 100%;
}

header form.search input.search-text:focus {
  outline: none;
}

header form.search input.search-text::placeholder {
  color: var(--transparent-grey-color);
}

header form.search button.search-icon {
  background-color: var(--background-color);
  background-image: url("/icons/search.svg");
  background-size: contain;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 8px;
  height: 16px;
  width: 16px;
  min-width: 16px;
  right: 16px;
}

/* picker Styles */

/* stylelint-disable-next-line no-descending-specificity */
header .picker > a::after {
  content: "";
  height: 1rem;
  width: 0.75rem;
  margin-left: 0.25rem;
  display: inline-flex;
  background-image: url("../../icons/arrow-down.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  vertical-align: bottom;
}

/* stylelint-disable-next-line no-descending-specificity */
header .picker > ul {
  display: none;
  color: var(--link-color);
  position: absolute;
  margin: 0;
  background: var(--secondary);
  border-radius: 0;
  padding: 0;
  width: calc(100% - 3rem);
  box-shadow: 0 2px 8px 0 var(--transparent-grey-color);
  right: 0;
  left: auto;
  top: var(--nav-top-height);
  z-index: 100;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  border: 1px solid #00000026;
  float: left;
  min-width: 10rem;
}

header .picker {
  position: relative;
  padding: 1rem 0;
}

header .picker:hover > ul {
  display: block;
}

/* PickerItem styles */

/* stylelint-disable-next-line no-descending-specificity */
header .picker-item > a {
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  padding: 11px 0 11px 32px;
  display: block;
}

/* stylelint-disable-next-line no-descending-specificity */
header .picker-item > a:hover {
  background: var(--primary);
}

/* WebsitePicker Styles */

/* stylelint-disable-next-line no-descending-specificity */
header .website-picker > ul {
  min-width: 12.5rem;
}

header .website-picker {
  padding-left: 0.2rem;
}

/* WesbitePickerItem Styles */

/* stylelint-disable-next-line no-descending-specificity */
header .website-picker-item > a::after {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 2px;
    margin-top: 0;
    position: relative;
    top: 4px;
    background-image: url("../../icons/link-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

/* LangPicker Styles */
header .lang-picker {
  padding-left: 2.1rem;
}

header .nav-bottom .other-items .mobile-lang-picker {
  padding: 0;
}

header .nav-bottom .other-items .mobile-lang-picker > ul {
  display: flex;
  flex-wrap: wrap;
}

header .mobile-lang-picker .mobile-lang-picker-item {
  padding: 1rem;
  list-style: none;
}

header .nav-bottom .other-items .mobile-lang-picker .mobile-lang-picker-item a {
  color: var(--muted-text);
  text-decoration: none;
  font-size: var(--body-font-size-s);
  letter-spacing: -0.4px;
}

@media (min-width: 77rem) {
  header {
    border-bottom: 1px solid var(--transparent-grey-light-color);
  }

  header.header-wrapper.fixed {
    box-shadow: 0 0.125rem 0.5rem 0 #3c46500f;
    border-bottom: 1px solid var(--transparent-grey-light-color);
  }

  header nav.nav-top {
    display: flex;
  }

  header nav.nav-middle {
    padding: 0;
  }

  header nav.nav-middle > h4 {
    font-size: var(--heading-font-size-m);
  }

  header nav.nav-bottom {
    border-top: unset;
    border-bottom: unset;
  }

  header nav.nav-bottom.open {
    position: unset;
    width: unset;
  }

  header nav.nav-bottom .dropdown-menu.open {
    display: none;
  }

  header .nav-bottom .mobile-icon,
  header .nav-bottom .mobile-icon.visible,
  header .nav-bottom .menu-back-btn,
  header .nav-bottom .menu-back-btn.visible {
    display: none;
  }

  header nav.nav-bottom > .menu-level-1,
  header nav.nav-bottom.open > .menu-level-1 {
    display: flex;
    position: static;
    height: unset;
    min-height: unset;
    width: unset;
    overflow-y: unset;
    background: var(--background-color);
  }

  header nav.nav-bottom .menu-level-1-item {
    margin-right: 1.9rem;
    position: static;
  }

  header nav.nav-bottom .menu-level-1-item > a {
    padding: 1rem 0;
    line-height: 1;
    border-bottom: 0.25rem solid transparent;
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
  }

  header nav.nav-bottom .menu-level-1-item > .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    top: -1000px;
    height: 30rem;
  }

  header nav.nav-bottom .menu-level-1-item:first-of-type > a::after {
    content: "";
    height: 15px;
    width: 12px;
    display: inline-flex;
    background-image: url("../../icons/arrow-down-header.svg");
    background-size: contain;
    background-position: top 5px center;
    background-repeat: no-repeat;
    border: none;
    vertical-align: bottom;
    margin-left: 8px;
    position: unset;
  }

  header nav.nav-bottom .menu-level-1-item > a:hover {
    color: var(--link-hover-color);
    border-bottom: 0.25rem solid var(--secondary);
  }

  header nav.nav-bottom .menu-level-1-item:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s ease-in-out;
    height: 30rem;
    top: var(--nav-total-height);
  }

  header.fixed nav.nav-bottom .menu-level-1-item:hover > .dropdown-menu {
    top: var(--nav-bottom-height);
  }

  header
    nav.nav-bottom
    .menu-level-1-item
    .dropdown-menu
    > .dropdown-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    margin: 0 auto;
  }

  header
    nav.nav-bottom
    .menu-level-1-item
    .dropdown-menu
    > .dropdown-menu-header
    h2 {
    margin: 56px 0 80px;
    font-size: 40px;
  }

  header
    nav.nav-bottom
    .menu-level-1-item
    .dropdown-menu
    > .dropdown-menu-header
    h2
    .icon {
    display: none;
  }

  header nav.nav-bottom .menu-level-2 {
    display: flex;
    flex-direction: row;
    width: 75rem;
    margin: 0 auto;
  }

  header nav.nav-bottom .menu-level-2.open {
    flex-direction: row;
  }

  header nav.nav-bottom .menu-level-2-item {
    width: calc(100% / 5 - 2.5rem);
    padding: unset;
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: unset;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav.nav-bottom .menu-level-2-item > a {
    display: unset;
    line-height: 1.5;
    margin-top: unset;
    margin-bottom: unset;
  }

  header nav.nav-bottom .menu-level-2-item > a:hover {
    color: var(--muted-text);
  }

  header nav.nav-bottom .menu-level-2-item-header,
  header nav.nav-bottom .menu-level-3-item-header {
    display: none;
  }

  header nav.nav-bottom .menu-level-3,
  header nav.nav-bottom .menu-level-3.open {
    display: block;
    position: unset;
    width: auto;
    height: auto;
    margin-top: 6px;
  }

  header nav.nav-bottom .menu-level-3-item {
    border-bottom: unset;
    box-sizing: border-box;
    height: unset;
  }

  header nav.nav-bottom .menu-level-3-item > a:hover {
    color: var(--muted-text);
  }

  header nav.nav-bottom .menu-level-3-item > a::before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 2px;
    height: calc(115% + 1.375rem);
    background: #009cbd;
  }

  header nav.nav-bottom .menu-level-3-item:last-of-type > a::before {
    height: 1.375rem;
  }

  header form.search div {
    min-width: 200px;
    border-bottom-color: var(--transparent-grey-light-color);
  }

  header form.search button.search-icon {
    right: 0;
    height: 14px;
    width: 14px;
    min-width: 14px;
  }

  header .nav-bottom .other-items {
    display: none;
  }
}
