.section.tags-container {
  margin-bottom: 5rem;
  padding-inline: 1rem;
}

.section.tags-container>.section-container {
  border-top: 1px solid #3c465033;
  padding-top: 1.75rem;
  gap: 2rem;
}

.section.tags-container>.section-container.para-present {
  display: flex;
}

.section.tags-container h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.section.narrow.tags-container {
  margin-bottom: 5rem;
}

.tags a.button.primary {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-medium);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  height: unset;
  min-width: unset;
  margin-right: 0.5rem;
}

.tags a.button.primary:hover {
  background-color: #00577a;
}

@media (min-width: 48rem) {
  .section.tags-container.narrow {
    max-width: 45rem;
    margin-inline: auto;
  }
}

@media (min-width: 62rem) {
  .section.tags-container.narrow {
    max-width: 54.5rem; 
  }

  .section.tags-container.narrow>.section-container {
    max-width: 45rem;
    margin-left: 1rem;
    padding-inline: unset;
  }
}

@media (min-width: 77rem) {
  .section.tags-container.narrow>.section-container {
    margin-left: 0;
  }
}
