div.news-banner-wrapper {
  background-color: var(--transparent-blue-light-color);
}

div.news-banner {
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-small);
  line-height: 14px;
  padding: 16px;
}

.news-banner a {
  line-height: 21px;
}

.news-banner a:link,
.news-banner a:visited {
  color: var(--primary);
}

.news-banner a:hover {
  text-decoration: underline;
}

.news-banner span {
  margin-right: 20px;
  margin-bottom: 16px;
}

.news-banner span:first-of-type {
  font-weight: var(--font-weight-bold);
}

@media (min-width:62rem) {
  div.news-banner {
    flex-direction: row;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
    max-width: 900px;
  }

  .news-banner span {
    margin-bottom: 0;
  }

  .news-banner span:first-of-type {
    font-weight: var(--font-weight-small);
  }
}

@media (min-width:77rem) {
  div.news-banner {
    max-width: 1200px;
  }
}