main .table {
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--col), auto);
    grid-template-rows: auto auto;
    background-color: #fff;
    color: #444;
    margin-bottom: 2rem;
}

main .table div {
    font-size: 0.88rem;
    line-height: 1.7em;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 1px solid rgba(60, 70, 80, 0.2);
    text-align: center;
    vertical-align: middle;
}


main .table .table-head {
    background: #F0F5F7;
}

main .table sup {
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

@media (max-width: 62rem) {
    main .table.responsive {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: calc(100% - 50px) auto;
        grid-template-rows: repeat(var(--col), auto);
        background-color: #fff;
        color: #444;
    }

    main .table.responsive div {
        padding: 0.5em 0.6em;
    }

    main .table.responsive .table-head {
        text-align: left;
    }
}