main .table-responsive>table {
    table-layout: fixed;
    margin-bottom: 2rem;
    border-collapse: collapse;
}

main .table-responsive th,
main .table-responsive td {
    font-size: 0.88rem;
    line-height: 1.7em;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 1px solid rgba(60, 70, 80, 0.2);
    text-align: center;
    vertical-align: middle;
}

main .table-responsive th {
    background: #F0F5F7;
}

main .table-responsive tbody td sup {
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

@media (max-width: 991.98px) {
    main .table-responsive>table {
        max-width: 100%;
        display: flex;
        margin-bottom: 1.5rem;
        overflow-x: auto;
    }

    main .table-responsive thead {
        display: inline-flex;
        width: calc(100% - 50px);
    }

    main .table-responsive thead tr {
        display: block;
        width: 100%;
    }

    main .table-responsive thead th {
        display: block;
        text-align: left;
    }

    main .table-responsive tbody td {
        display: block;
        text-align: center;
    }

    main .table-responsive th,
    main .table-responsive td {
        font-size: 0.88rem;
        line-height: 1.7em;
        font-weight: 500;
        padding: 0.5em 1em;
        border: 1px solid rgba(60, 70, 80, 0.2);
        vertical-align: middle;
    }

    main .table-responsive th {
        background: #F0F5F7;
    }

    main .table-responsive tbody {
        display: inline-flex;
        width: 50px;
    }

    main .table-responsive tbody tr {
        display: block;
        width: 100%;
    }


}