.block.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

main .section.social-container a {
  color: var(--secondary);
  overflow-wrap: break-word;
}

main .section.social-container h2 {
  font-size: var(--heading-font-size-m);
  margin-bottom: 1rem;
}

main .section.social-container .tag-name {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}

main .section.social-container .section-container {
  max-width: 45rem;
  margin-right: auto;
  margin-left: unset;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

main .section.social-container p {
  margin-bottom: 2rem;
}

.section.social-container h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--heading-font-size-m);
  line-height: 1.3em;
  margin: 1rem 0;
}

.block.social>span {
  display: none;
}

.block.social .icon-linkedin {
  background-image: url("../../icons/linkedin.svg");
}

.block.social .icon-facebook {
  background-image: url("../../icons/facebook.svg");
}

.block.social .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.block.social .icon-twitter {
  background-image: url("../../icons/twitter.svg");
}

main .section.social-container h1 + p {
  font-size: var(--font-size-xsmall);
  margin-bottom: 1.5rem;
}

main .section.social-container h4 {
  color: var(--light-black);
  margin-bottom: 0.5rem;
}

main .section.social-container .section-container ul {
  margin-bottom: 1rem;
  padding-inline-start: 2.5rem;
}

main .section.social-container .section-container ol {
  margin-bottom: 1rem;
  padding-inline-start: 2.5rem;
}

.social-container img {
  width: 100%;
}

.social-container div.news-image-caption {
  color: #6D757C;
  font-size: var(--body-font-size-xs);
  text-align: center;
  margin-top: -1.5em;
  margin-bottom: 1.5rem;
}

.social-container div.news-image-caption a {
  background-color: white;
  font-weight: normal;
  color: var(--link-color);
}

div.social-container h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-font-size-ms);
  margin-bottom: 1rem;
}

@media (min-width: 62rem) {
  main .section.social-container .section-container {
    position: relative;
  }

  .social-container div.news-image-caption {
    margin-bottom: 2rem;
  }

  main .section.social-container {
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
  }

  main .section.social-container h1 {
    font-size: 2.25rem;
    line-height: 1.3em;
  }

  main .section.social-container h2 {
    font-size: var(--heading-font-size-mxl);
  }

  .block.social {
    flex-direction: column;
    gap: 1rem;
    top: 2.5rem;
    position: absolute;
    right: -7.813rem;
  }

  .block.social>span {
    display: block;
    color: var(--black);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    line-height: 1;
  }

  main .section.social-container h1 + p {
    font-size: var(--font-size-small);
    margin-bottom: 2rem;
  }

  div.social-container h3 {
    font-size: var(--heading-font-size-m);
  }
}

@media (min-width:77rem) {
  .block.social {
    right: -10rem;
  }
}
