/* below the fold CSS goes here */
@import url("./styles.css");

/* cyrillic-ext */
@font-face {
    font-family: 'Noto Sans Cyrillic Ext Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-CyrillicExt-Regular.woff2") format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Noto Sans Cyrillic Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Cyrillic-Regular.woff2") format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
    font-family: 'Noto Sans Devanagari Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Devanagari-Regular.woff2") format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* greek-ext */
@font-face {
    font-family: 'Noto Sans Greek Ext Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-GreekExt-Regular.woff2") format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Noto Sans Greek Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Greek-Regular.woff2") format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Noto Sans Vietnamese Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Vietnamese-Regular.woff2") format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Noto Sans Latin Ext Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-LatinExt-Regular.woff2") format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Noto Sans Latin Regular';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-regular);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Latin-Regular.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Noto Sans Cyrillic Ext Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-CyrillicExt-Bold.woff2") format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Noto Sans Cyrillic Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Cyrillic-Bold.woff2") format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* ----------------------- */

/* devanagari */
@font-face {
    font-family: 'Noto Sans Devanagari Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Devanagari-Bold.woff2") format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* greek-ext */
@font-face {
    font-family: 'Noto Sans Greek Ext Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-GreekExt-Bold.woff2") format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Noto Sans Greek Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Greek-Bold.woff2") format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Noto Sans Vietnamese Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Vietnamese-Bold.woff2") format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Noto Sans Latin Ext Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-LatinExt-Bold.woff2") format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Noto Sans Latin Bold';
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-display: swap;
    src: url("/styles/fonts/NotoSans-Latin-Bold.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
