/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */


:root {
  /* colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #EB0000;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #00587C;
  --secondary: #007CAD;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #EB0000;
  --light: #f8f9fa;
  --dark: #343a40;
  --link-color: #3C4650;
  --link-hover-color: var(--secondary);
  --background-color: var(--white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: "Noto Sans";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;
  --heading-font-size-xxs: 14px;

  /* Font Weight */
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font Style */
  --font-style-normal: normal;

  /* nav height */
  --nav-top-height: 42px;
  --nav-middle-height: 26px;
  --nav-bottom-height: 52px;
  --nav-total-height: calc(var(--nav-top-height) + var(--nav-middle-height) + var(--nav-bottom-height));

  /* Font Sizes */
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
}

body {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-variant-ligatures: common-ligatures;
  font-style: normal;
  margin: 0;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: calc(var(--nav-height) + 1em);
  margin: 0;
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

p {
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  line-height: 1.5em;
}

ul {
  list-style: none;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main {
  margin-top: var(--nav-total-height);
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link, button {
  min-width: 160px;
  height: 48px;
  border: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 1;
}

a.button.primary {
  background: var(--secondary);
  color: var(--white);
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: #0092CC;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main .block {
  margin-left: auto;
  margin-right: auto;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.icon svg {
  height: 100%;
}

.icon.icon-sunstar-logo {
  width: unset;
  height: 26px;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}